h1{
    font-size: 50px;
    
    }
    
    body{
        font-family: 'Roboto Mono', monospace;
    margin: 0;
    }
    
    .nh{
        color: orange;
    }
    .oned{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    }
    
    .oned img{
    width: 80%;
    
    }
    

    
    
    .section1{
    background-image: url("img/_MG_0407.JPG");
    background-repeat: no-repeat;
    background-position:l;
    }
    
    section{
    
        height: 600px;
        padding-bottom: 150px;
    }
    
    .ac{
        text-decoration: none;
        background-image: linear-gradient(45deg, lightsalmon, tomato);
        padding: 8px 12px;
        border-radius: 10px;
        color: white;
        font-weight: 700;
    }
    
    h2{
    font-size: 40px;
    
    }
    
    .twoac{
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    
    padding: 10px 15px;
    border-radius: 12px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    
    
    }
    
    p{
    color:darkolivegreen;
    
    }
    
    .second{
    
    background-image: url("img/_MG_0407.JPG");
    
    
    }
    
    .sp{
    color: brown;
    
    
    }
    
    .asd{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    height: 300px;
    background-color: white;
    }
    .experience-area{
    background-image: url("img/images.jpg");
    background-repeat: no-repeat;
    
    
    }
    
    #full-stak{
    border-left: 7px solid;
    border-image:linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
    
    
    
    }
    
    #full-stak-two{
        border-left: 7px solid;
        border-image: linear-gradient(180deg, blue, cyan);
        border-image-slice:1;
    }
    
    footer{
    
        text-align: center;
    }

    #exp{
        margin-left: 3 0px;
    }